- @sites.each do |site|
  .site.clear
    - if site.last_check
      %img{:src=>"/images/#{site.current_status}.png"}
      %a{:href=>"/sites/#{site.id}"}
        =site.url
      =site.current_status
      since 
      =standard_date_time(site.status_changed)
      (last check 
      =standard_date_time(site.last_check)
      )
    - else
      ?
      %a{:href=>"/sites/#{site.id}"}
        =site.url
    &nbsp;
    &nbsp;
    %a{:href=>"/sites/#{site.id}/check"} check
    &nbsp;
    %a{:href=>"/sites/#{site.id}/last_body"}
      last body
    &nbsp;
    = delete_link(site,'/sites','remove')
    .result
      - if site.down?
        .down= site.last_result
      - else
        .up=site.last_result
